[Unit]
Description=Vector service
After=network.target
Requires=network-online.target
[Service]
User=vector
Group=vector
ExecStart=/usr/bin/vector --config-yaml {{ vector_config_dir }}/vector.yml --watch-config
Restart=always
[Install]
WantedBy=multi-user.target